body {
  padding-top: 50px;
  padding-bottom: 20px; }

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px; }

.btn {
  font-size: 16px; }

#mainTitle {
  text-align: center;
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 40px; }

#restOfDay {
  margin-top: 50px;
  text-align: center; }

#addRestaurant {
  float: left;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 60px; }

#remRestaurant {
  margin-top: 50px;
  margin-bottom: 50px; }

/*Navbar styles*/
.navbar {
  background-color: #9932CC;
  border-bottom: 2px solid #8B008B; }
  .navbar .navbar-header {
    height: 50px; }
    .navbar .navbar-header .navbar-brand {
      color: #fff; }
    .navbar .navbar-header .navbar-brand:hover {
      background-color: #8B008B; }
  .navbar .navbar-collapse .nav li a {
    color: #fff; }
  .navbar .navbar-collapse .nav li:hover {
    background-color: #8B008B; }

/*Table styles*/
table {
  margin: auto;
  width: 200px;
  border-collapse: collapse;
  border: 1px solid #fff;
  /*for older IE*/
  border-style: hidden; }
  table thead {
    background-color: #9932CC;
    border: 2px solid #8B008B;
    border-radius: 8px; }
    table thead tr th {
      color: #fff;
      font-size: 15px;
      text-align: center; }
  table tbody tr td {
    font-size: 15px;
    text-align: center; }
  table tbody tr:hover {
    background-color: #BA55D3; }

#addFood {
  height: auto;
  margin-top: 40px;
  margin-left: 280px; }

.form-control {
  float: left;
  margin-right: 20px; }

