body {
  padding-top: 50px;
  padding-bottom: 20px; }

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px; }

.btn {
  font-size: 16px; }

#mainTitle {
  text-align: center;
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 40px; }

#restOfDay {
  margin-top: 50px;
  text-align: center; }

#addRestaurant {
  float: left;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 60px; }

#remRestaurant {
  margin-top: 50px;
  margin-bottom: 50px; }

/*Navbar styles*/
.navbar {
  background-color: rgba(52, 73, 94, 0.7);
  border-bottom: 2px solid #8B008B; }
  .navbar .navbar-header {
    height: 50px; }
    .navbar .navbar-header .navbar-brand {
      color: #fff; }
    .navbar .navbar-header .navbar-brand:hover {
      background-color: #8B008B; }
  .navbar .navbar-collapse .nav li a {
    color: #fff; }
  .navbar .navbar-collapse .nav li:hover {
    background-color: #8B008B; }

/*Table styles*/
table {
  margin: auto;
  width: 200px;
  border-collapse: collapse;
  border: 1px solid #fff;
  /*for older IE*/
  border-style: hidden; }
  table thead {
    background-color: rgba(52, 73, 94, 0.7);
    border: 2px solid #8B008B;
    border-radius: 8px; }
    table thead tr th {
      color: #fff;
      font-size: 15px;
      text-align: center; }
  table tbody tr td {
    font-size: 15px;
    text-align: center; }
  table tbody tr:hover {
    background-color: #BA55D3; }

#addFood {
  height: auto;
  margin-top: 40px;
  margin-left: 280px; }

.form-control {
  float: left;
  margin-right: 20px; }

/*Login form*/
.logForm {
  width: 500px;
  height: 400px;
  text-align: center;
  background-color: rgba(52, 73, 94, 0.7);
  border-radius: 6px;
  margin: 0 auto; }
  .logForm .form-group span {
    color: red; }
  .logForm h3 {
    color: #fff; }
  .logForm .form-control {
    height: 45px;
    width: 300px;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 110px;
    padding-left: 20px; }
    .logForm .form-control .btn {
      padding: 15px 25px;
      font-size: 20px; }

.checkbox {
  margin-left: 90px; }

button, html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  margin-left: 90px; }

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  float: none !important; }

a {
  color: #fff; }

#logBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }

/*Register form*/
.regForm {
  width: 500px;
  height: 400px;
  text-align: center;
  background-color: rgba(52, 73, 94, 0.7);
  border-radius: 6px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .regForm h3 {
    padding-top: 20px;
    color: #fff; }
  .regForm h4 {
    color: #fff; }
  .regForm .col-md-10 {
    width: 100%; }
  .regForm .form-control {
    margin-left: 110px; }
  .regForm .col-md-offset-2 {
    margin-left: 0; }
  .regForm input[type="submit"] {
    text-align: center;
    margin-left: 0; }

