@{
    ViewBag.Title = "Home Page";

    var start = Convert.ToDateTime("00:00");
    var end = Convert.ToDateTime("15:00");
    bool restIsChoosen = end >= DateTime.Now && DateTime.Now >= start;
}



<div ng-controller="HomeController">
    <div class=".col-sm-1">
        @if (!User.Identity.IsAuthenticated)
        {
            <h1 id="#mainTitle">{{message}}</h1>
        } 
    </div>
        @if (User.Identity.IsAuthenticated) {
        <div class=".col-sm-4">
            <form name="addRestaurantForm">
                <button class="btn btn-success" ng-click="addingNewRestaurant()">Dodaj nową restauracje</button>
                <div ng-show="addedRestaurant" style="margin-top: 40px;">
                    <input ng-model="name" type="text" name="addName" value="" ng-minlength="5" required />
                    <button class="btn btn-primary" ng-click="addDataTest()">Zapisz restauracje</button>
                    <code>{{addRestaurantForm.addName.$valid}}</code>
                </div>
            </form>
        </div>
        }
        <div class=".col-sm-4">
            @if (User.Identity.IsAuthenticated)
            {
                <a href="#" ng-show="!canVote" class="btn btn-sm btn-danger" ng-click="removeLastOrder()">Unvote</a>
            }
        </div>
        <div>
            @if (!restIsChoosen)
            {
                <div  ng-init="getDataFromDb()" >
                    <h3 id="restOfDay">Dnia {{currentDate | date:'yyyy-MM-dd'}}
                     największą ilość głosów zdobyła restauracja
                     {{restaurantsWithMostVotes.Name}} z wynikiem 
                     {{restaurantsWithMostVotes.NumberOfVotes}} głosy</h3>
                </div>
                <div ng-if="!restaurantsWithMostVotes.NumberOfVotes">
                    <h3 id="restOfDay">
                       Dnia {{currentDate | date:'yyyy-MM-dd'}} nie wybrano żadenej restauracji.
                    </h3>
                </div>
                <div>
                    <input ng-model="foodOrderName" type="text" value=""/>
                    <button class="btn btn-warning" 
                            ng-click="addFoodOrder(restaurantsWithMostVotes.RestaurantId)">
                            Zapisz restauracje</button>
                </div>
            }
        </div>
    @if (restIsChoosen) {
        <div>
            <table ng-init="getDataFromDb()" class="table table-responsive table-striped">
                <tr ng-repeat="rest in restaurants">
                    <td>{{ rest.Name }}</td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <td><a href="#" class="btn btn-sm btn-primary {{canVote ? '' : 'disabled'}}" ng-click="addNewOrder(rest.RestaurantId)">Vote</a></td>
                    }
                </tr>
            </table>
        </div>
    }
</div>
