@{
    ViewBag.Title = "Home Page";
}

<div ng-controller="HomeController">
    <h1>{{message}}</h1>

    <button class="btn btn-success" ng-click="addingNewRestaurant()">Dodaj nową restauracje</button>
    <div ng-if="addedRestaurant" style="margin-top: 40px;">
        <input ng-model="name" type="text" name="name" value="" />
        <button class="btn btn-primary" ng-click="addDataTest()">Zapisz restauracje</button>
    </div>

    <h2>{{data}}</h2>

    <table ng-init="getDataFromDb()" class="table table-responsive table-striped">
        <tr ng-repeat="rest in restaurants">
            <td>{{ rest.Name }}</td>
            <td><a href="#" class="btn btn-sm btn-primary">Vote</a></td>
        </tr>
    </table>
</div>


