@model dinnerOrder.Infrastructure.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Zarejestruj się";
}


<section id="registerForm">
    <div class="regForm">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h3>@ViewBag.Title.</h3>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                <input class="form-control" id="Username" name="Username" type="text" value="" placeholder="Login">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input class="form-control" id="Email" name="Email" type="text" value="" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input class="form-control" id="Password" name="Password" type="password" placeholder="Hasło">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input class="form-control" id="ConfirmPassword" name="ConfirmPassword" type="password" placeholder="Potwierdź hasło">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-warning" value="Zarejestruj się" />
            </div>
        </div>
    }
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
